@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
}
.slick-dots li button::before {
    font-size: 16px;
    color: gray;
    opacity: 0.7;
  }

  .slick-dots li.slick-active button::before {
    color: #0165a3;
    opacity: 1;
  }